---
import "@fontsource/stix-two-text";
import "@fontsource/source-sans-pro";
import "@fontsource/source-serif-pro";
import { ViewTransitions } from 'astro:transitions';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="h-full dark:bg-[#282c34] dark:text-gray-50">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}

	code {
		font-size: 0.8em !important;
	}

	@media screen and (min-width: 700px) {
		code {
			counter-reset: step;
			counter-increment: step calc(var(--start, 1) - 1);
		}

		code .line::before {
			content: counter(step);
			counter-increment: step;
			width: 1rem;
			margin-right: 1.2rem;
			display: inline-block;
			text-align: right;
			color: rgba(115,138,148,.4)
		}
	}
</style>
