---
import type { CollectionEntry } from 'astro:content';
import Layout from "./Layout.astro";
import ArrowLeft from "../components/ArrowLeft.astro";
import Header from "../components/Header.astro";

export interface Props {
	post: CollectionEntry<'post'>;
}

const { post } = Astro.props;
const postDate = new Intl.DateTimeFormat('en-US', {
	month: 'long',
	day: 'numeric',
	year: 'numeric',
}).format(post.data.date);
---

<Layout title={post.data.title}>
	<Header />
	<article class="prose prose-xl prose-code:text-md mx-auto max-w-3xl p-4 font-sans mb-20">
		<h2>
			<div>{post.data.title}</div>
			<div class="mt-2 text-gray-400 text-lg">{postDate}</div>
		</h2>
		<p class="border-b pb-6">
			<em>{post.data.summary}</em>
		</p>
		<slot />
	</article>
</Layout>
